{% extends 'core/base.html' %}
{% block title %} EDIT Student {% endblock title %}
{% block main_content %}
<section class="container">
  <div class="row justify-content-around mt-5 text-center text-white">
    <div class="col-sm-8">
      <h3>CRUD Project in python django</h3>
    </div>
  </div>

  <div class="row justify-content-around mt-3">
    <div class="col-sm-4">
      <form action="" method="POST" class="bg-white p-3 rounded shadow">
          {% csrf_token %}
          {{form.as_p}}
          <input type="submit" value="Submit" class="btn btn-primary">
      </form>
    </div>
  </div>


</section>

{% endblock main_content %}